{% extends '_template.html' %}

{% block content %}
  <div id="rooms-container"></div>
  <div class="Section u-flex u-justifyCenter u-alignCenter">
    <img src="https://images.unsplash.com/photo-1457903685934-249e8108a246?dpr=1&auto=compress,format&crop=entropy&fit=crop&w=767&h=512&q=80&cs=tinysrgb" crossorigin="anonymous" />
  </div>
  <div class="Section u-flex u-justifyCenter u-alignCenter">
    <img src="https://images.unsplash.com/photo-1466046690866-98181611563d?dpr=1&auto=compress,format&crop=entropy&fit=crop&w=767&h=512&q=80&cs=tinysrgb" crossorigin="anonymous" />
  </div>
  <div class="Section u-flex u-justifyCenter u-alignCenter">
    <img src="https://images.unsplash.com/photo-1431512284068-4c4002298068?dpr=1&auto=compress,format&crop=entropy&fit=crop&w=767&h=510&q=80&cs=tinysrgb" crossorigin="anonymous" />
  </div>
  <div class="Section u-flex u-justifyCenter u-alignCenter">
    <img src="https://images.unsplash.com/photo-1470434151738-dc5f4474c239?dpr=1&auto=compress,format&crop=entropy&fit=crop&w=767&h=512&q=80&cs=tinysrgb" crossorigin="anonymous" />
  </div>
  <div class="Section u-flex u-justifyCenter u-alignCenter">
    <img src="https://images.unsplash.com/photo-1422651355218-53453822ebb8?dpr=1&auto=compress,format&crop=entropy&fit=crop&w=767&h=512&q=80&cs=tinysrgb" crossorigin="anonymous" />
  </div>
  <div class="Section u-flex u-justifyCenter u-alignCenter">
    <img src="https://images.unsplash.com/photo-1462524500090-89443873e2b4?dpr=1&auto=compress,format&crop=entropy&fit=crop&w=767&h=512&q=80&cs=tinysrgb" crossorigin="anonymous" />
  </div>
  <div class="Section u-flex u-justifyCenter u-alignCenter">
    <img src="https://images.unsplash.com/photo-1466721591366-2d5fba72006d?dpr=1&auto=compress,format&crop=entropy&fit=crop&w=767&h=512&q=80&cs=tinysrgb" crossorigin="anonymous" />
  </div>
  <div class="Section u-flex u-justifyCenter u-alignCenter">
    <img src="https://images.unsplash.com/photo-1451479456262-b94f205059be?dpr=1&auto=compress,format&crop=entropy&fit=crop&w=767&h=512&q=80&cs=tinysrgb" crossorigin="anonymous" />
  </div>
  <div class="Section u-flex u-justifyCenter u-alignCenter">
    <img src="https://images.unsplash.com/photo-1462733441571-9312d0b53818?dpr=1&auto=compress,format&crop=entropy&fit=crop&w=767&h=512&q=80&cs=tinysrgb" crossorigin="anonymous" />
  </div>
  <div class="Section u-flex u-justifyCenter u-alignCenter">
    <img src="https://images.unsplash.com/photo-1460400408855-36abd76648b9?dpr=1&auto=compress,format&crop=entropy&fit=crop&w=767&h=512&q=80&cs=tinysrgb" crossorigin="anonymous" />
  </div>
  <div class="Section u-flex u-justifyCenter u-alignCenter">
    <img src="https://images.unsplash.com/photo-1431576901776-e539bd916ba2?dpr=1&auto=compress,format&crop=entropy&fit=crop&w=767&h=512&q=80&cs=tinysrgb" crossorigin="anonymous" />
  </div>
  <div class="Section u-flex u-justifyCenter u-alignCenter">
    <img src="https://images.unsplash.com/photo-1452711932549-e7ea7f129399?dpr=1&auto=compress,format&crop=entropy&fit=crop&w=767&h=512&q=80&cs=tinysrgb" crossorigin="anonymous" />
  </div>
  <div class="Section u-flex u-justifyCenter u-alignCenter">
    <img src="https://images.unsplash.com/photo-1431057499046-ecd6e0f36ebe?dpr=1&auto=compress,format&crop=entropy&fit=crop&w=767&h=512&q=80&cs=tinysrgb" crossorigin="anonymous" />
  </div>
  <div class="Section u-flex u-justifyCenter u-alignCenter">
    <img src="https://images.unsplash.com/photo-1463412855783-af97e375664b?dpr=1&auto=compress,format&crop=entropy&fit=crop&w=767&h=512&q=80&cs=tinysrgb" crossorigin="anonymous" />
  </div>
  <div class="Section u-flex u-justifyCenter u-alignCenter">
    <img src="https://images.unsplash.com/photo-1463123081488-789f998ac9c4?dpr=1&auto=compress,format&crop=entropy&fit=crop&w=767&h=512&q=80&cs=tinysrgb" crossorigin="anonymous" />
  </div>
{% endblock %}
